.products-card-variants__product--grid-1:nth-last-child(-n+1) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-2:nth-last-child(-n+2) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-3:nth-last-child(-n+3) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-4:nth-last-child(-n+4) .product-card-form-variant-border__border_bottom {
  border-bottom: none !important;
}

.products--content--grid .products-card-variants__product--grid-2:nth-child(2n) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}

.products--content--grid .products-card-variants__product--grid-3:nth-child(3n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3:nth-child(3n+3) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}

.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+3) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+4) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}
.products--content--grid .products-card-variants__product--grid-1 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-2 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4 .product-card-form-variant-border__inside_borders {
  border-bottom: 1px solid #E8E8E8 !important;
  padding: 25px;
}

.product-card-form-variant--vertical_card_style {
  padding: 40px !important;
 }
@media (max-width: 768px) {
  .products--content--grid .products-card-variants__product--grid-1 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-2 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-3 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-4 .product-card-form-variant-border__inside_borders {
    padding: 0px;
  } 

 .product-card-form-variant-border__border_bottom{
    border-bottom: none !important;
  }

  .swiper--container{
    gap: 0px!important;
    margin-bottom: 20px;
  }
}
.products--content--grid .products-card-variants__product--grid-1:nth-last-child(-n+1) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-2:nth-last-child(-n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3:nth-last-child(-n+3) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-last-child(-n+4) .product-card-form-variant-border__inside_borders  {
  border-bottom: none !important;
}

.focus-visible-outline.product-card__description{
    font-size: 11px !important;
    line-height: 13px;
 }
 .product-card-form-variant--vertical_card_style .product-card__image-wrapper.product-card__image-wrapper--portrait{
   padding-top: 0%;
   height: 100%;
 }
 .product-card-form-variant--vertical_card_style  .product-card__image-wrapper-link{
   height: 100%;
 }
 .product-card-form-variant--vertical_card_style .product-card__main{
   align-self: center;
   width: 100% !important;
 }
 .product-card-form-variant--vertical_card_style .product-card__image,
 .product-card-form-variant--vertical_card_style .product-card__image.product-card__image--hover{
   height: 155px;
 }
 
 .product-card-form-variant--vertical_card_style button.product-card__form-quantity-btn{
   padding: 0 10px;
   color: #515151;
 }
 .product-card-form-variant--vertical_card_style .product-card__form-quantity{
   gap: 0;
   font-size: 12px;
   border: 1px solid #515151;
 }
 .product-card-form-variant--vertical_card_style .product-card__form-submit{
   font-size: 14px;
   font-weight: 500;
 }
 
 .product-card__content{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5px;
 }
 .product-card__footer--price{
  display: flex;
  flex-direction: column;
  gap: 5px;
 }
 .product-card__content .product-card__content-info{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 10px;
 }
 
.product-card__title{
   font-weight: 700 !important;
 }
 
 @media (max-width: 768px) {
   .product-card-form-variant--horizontal_card_style .product-card__content .product-card__content-info .product-card__title{
    font-size: 14px !important;
     min-height: 45px;
   }
 }
 .product-card__content--description{
  display: flex;
  flex-wrap: wrap;
 }
 .hidden-description {
    display: none !important;
  }
  
  .read-more-description, .read-less-description {
    color: #000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0px;
  }
  .read-less-description {
    margin-left: 0px;
    margin-top: 7px;
  }
  .read-more-description:hover, .read-less-description:hover {
    text-decoration: underline;
  } 
  @media (min-width: 992px) {
    .products-thumbnails .products-thumbnails__heading-wrapper {
      flex-direction: row;
      justify-content: space-between;
      gap: 24px;
    }
    .products-thumbnails__heading-wrapper--variant{
      flex-direction: column !important;
      gap: 24px;
    }
    .products-thumbnails .products-thumbnails__button-lists__wrapper {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    .products-thumbnails .products-thumbnails__button-list-item:first-child {
      padding-left: 8px;
    }
    .products-thumbnails .products-thumbnails__button-list-item:last-child {
      padding-right: 8px;
    }
    .products-thumbnails .products-thumbnails__button-lists__wrapper {
      margin-left: -8px;
      margin-right: -8px;
    }
    .products-thumbnails .products-thumbnails__button-wrapper {
      margin-top: 48px;
      align-self: center;
    }
    .products-thumbnails .products-thumbnails-slider {
      margin-left: 0;
      margin-right: 0;
      padding-left: 1px;
      padding-right: 1px;
    }
    .products-thumbnails .products-thumbnails__tab.is-loading {
      opacity: 1;
    }
    .products-thumbnails__tab{
      width: 100%;
    }
    .products--content--grid  .products-card-variants__product--grid-1 {
      grid-column: span 12;
      padding: 0 20px;
    }
    .products--content--grid  .products-card-variants__product--grid-2 {
      grid-column: span 6;
    }
    .products--content--grid  .products-card-variants__product--grid-3 {
      grid-column: span 4;
      padding: 0 20px;
    }
    .products--content--grid  .products-card-variants__product--grid-4 {
      grid-column: span 3;
    }
  }
  @media (max-width: 768px) {
    .products--content--grid  .products-card-variants__product--grid-1,
    .products--content--grid  .products-card-variants__product--grid-2,
    .products--content--grid  .products-card-variants__product--grid-3,
    .products--content--grid  .products-card-variants__product--grid-4 {
      grid-column: span 12 !important;
    }
  }

  @media (max-width: 768px) {
    .product-card__form-quantity{
      gap: 0px;
      font-size: 14px;
    }
    .two_items_per_row input.product-card__form-quantity-input{
      width: 15px;
    }
    .two_items_per_row button.product-card__form-quantity-btn{
      padding: 6px !important;
      font-size: 14px;
    }
    .two_items_per_row .product-card .product-card__form-submit{
      font-size: 14px;
    }
    .two_items_per_row  .product-card{
        padding: 10px 6px !important;
    }
    .two_items_per_row  .product-card__form-quantity{
        gap: 0px !important;
    }
  }