.products-thumbnails .products-thumbnails__container {
  width: 100%;
  max-width: var(--container-width, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.products-thumbnails .products-thumbnails__heading-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.products-thumbnails .products-thumbnails__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-thumbnails__heading-wrapper .product-tabs__title{
  font-size: 36px;
}
.products-thumbnails__heading-wrapper .p{
  font-size: 16px;
}
.products-thumbnails__heading-wrapper--content{
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
.products-thumbnails .products-thumbnails__heading  .products-thumbnails__button-wrapper{
  margin: 0;
}
.products-thumbnails .products-thumbnails__button-lists__wrapper {
  overflow-y: scroll;
  margin-top: 24px;
  margin-right: -16px;
  margin-left: -16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.products-thumbnails .products-thumbnails__button-lists__wrapper::-webkit-scrollbar {
  display: none;
}
.products-thumbnails .products-thumbnails__button-lists {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  gap: 16px;
}
.products-thumbnails .products-thumbnails__button-list-item:first-child {
  padding-left: 16px;
}
.products-thumbnails .products-thumbnails__button-list-item:last-child {
  padding-right: 16px;
}
.products-thumbnails .products-thumbnails__button-list-item .tab-button {
  position: relative;
}
.products-thumbnails .products-thumbnails__button-wrapper {
  margin-top: 24px;
  align-self: start;
  text-align: center;
}
.products-thumbnails .products-thumbnails__button-wrapper.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.products-thumbnails .products-thumbnails__tab {
  display: flex;
  flex-direction: column;
  animation: product-tabs-fade 1s forwards;
}
.products-thumbnails .products-thumbnails__tab .products-thumbnails__tab-content {
  display: flex;
  align-items: stretch;
}
.products-thumbnails .products-thumbnails__tab .products--content--grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 768px) {
  .products-thumbnails .products-thumbnails__tab .products--content--grid {
    display: flex !important;
    gap: 0px !important;
  }
  .products-thumbnails .products-thumbnails__tab .products--content--grid--swiper {
    flex-direction: row;
  }
  .swiper-slide.products-thumbnails__product--variant-card{
    height: auto !important;
  }
}

.products-thumbnails .products-thumbnails__tab.is-loading {
  animation: none;
  opacity: 0;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .products-thumbnails .products-thumbnails__tab:has(.product-card):hover {
    position: relative;
    z-index: 3;
  }
}
.products-thumbnails .products-thumbnails-slider {
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: clip;
  overflow-y: visible;
}
.products-thumbnails .products-thumbnails-slider:not(.swiper-initialized) .products-thumbnails__tab-content .products-thumbnails__product:first-child {
  margin-left: auto;
}
.products-thumbnails .products-thumbnails-slider:not(.swiper-initialized) .products-thumbnails__tab-content .products-thumbnails__product:last-child {
  margin-right: auto;
}
.products-thumbnails .products-thumbnails__product {
  height: auto;
}
.products-thumbnails .products-thumbnails__product .product-card {
  padding: 16px;
  gap: 10px;
  justify-content: space-between;
  border-radius: 0px;
}
.product-card-form-variant-border__card_all_bordes{
  border: 1px solid #E8E8E8;
}
.product-card-form-variant-border__border_bottom{
  border-bottom: 1px solid #E8E8E8;
}

.products-card-variants__product--grid-1:nth-last-child(-n+1) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-2:nth-last-child(-n+2) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-3:nth-last-child(-n+3) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-4:nth-last-child(-n+4) .product-card-form-variant-border__border_bottom {
  border-bottom: none !important;
}
.products-card-variants__product--grid-3:nth-child(-n+3) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-1:nth-child(-n+1) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-2:nth-child(-n+2) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-4:nth-child(-n+4) .product-card-form-variant-border__border_bottom,
.products-card-variants__product--grid-2 .product-card-form-variant-border__inside_borders{
  border-bottom: 1px solid #E8E8E8 !important;
}

.products--content--grid .products-card-variants__product--grid-2:nth-child(2n) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}

.products--content--grid .products-card-variants__product--grid-3:nth-child(3n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3:nth-child(3n+3) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}

.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+3) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-child(4n+4) .product-card-form-variant-border__inside_borders {
  border-left: 1px solid #E8E8E8 !important;
}
.products--content--grid .products-card-variants__product--grid-1 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-2 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3 .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4 .product-card-form-variant-border__inside_borders {
  border-bottom: 1px solid #E8E8E8 !important;
  padding: 25px;
}

@media (max-width: 768px) {
  .products--content--grid .products-card-variants__product--grid-1 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-2 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-3 .product-card-form-variant-border__inside_borders,
  .products--content--grid .products-card-variants__product--grid-4 .product-card-form-variant-border__inside_borders {
    padding: 0px;
  } 
  .swiper--container{
    gap: 35px!important;
    margin-bottom: 27px;
  }
}
.products--content--grid .products-card-variants__product--grid-1:nth-last-child(-n+1) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-2:nth-last-child(-n+2) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-3:nth-last-child(-n+3) .product-card-form-variant-border__inside_borders,
.products--content--grid .products-card-variants__product--grid-4:nth-last-child(-n+4) .product-card-form-variant-border__inside_borders  {
  border-bottom: none !important;
}

.swiper--container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.swiper--container .swiper-pagination-fraction, 
.swiper--container .swiper-pagination-custom, 
.swiper--container .swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal{
  position: relative;
}
.products-thumbnails .products-thumbnails__title.need-animate {
  opacity: 0;
  transform: scale(1.25);
  transform-origin: left;
  transition-property: opacity, transform;
}
.products-thumbnails .products-thumbnails__button-list-item.need-animate {
  opacity: 0;
  transition-property: opacity;
}
.products-thumbnails .products-thumbnails__product.need-animate {
  opacity: 0;
  transform: translateY(25px) translateZ(0);
  transition-property: opacity, transform;
  transition-delay: var(--card-delay);
}
.products-thumbnails.animated .products-thumbnails__title.need-animate {
  opacity: 1;
  transform: scale(1);
}
.products-thumbnails.animated .products-thumbnails__button-list-item.need-animate {
  opacity: 1;
}
.products-thumbnails.animated .products-thumbnails__product.need-animate {
  opacity: 1;
  transform: translateY(0) translateZ(0);
}
.products-thumbnails.animated .products-thumbnails__button-wrapper.need-animate {
  opacity: 1;
}
@media (min-width: 1501px) {
  .products-thumbnails .products-thumbnails__button-list-item:first-child {
    padding-left: 0;
  }
  .products-thumbnails .products-thumbnails__button-list-item:last-child {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .products-thumbnails .products-thumbnails__heading-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  .products-thumbnails__heading-wrapper--variant{
    flex-direction: column !important;
    gap: 24px;
  }
  .products-thumbnails .products-thumbnails__button-lists__wrapper {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .products-thumbnails .products-thumbnails__button-list-item:first-child {
    padding-left: 8px;
  }
  .products-thumbnails .products-thumbnails__button-list-item:last-child {
    padding-right: 8px;
  }
  .products-thumbnails .products-thumbnails__button-lists__wrapper {
    margin-left: -8px;
    margin-right: -8px;
  }
  .products-thumbnails .products-thumbnails__button-wrapper {
    margin-top: 48px;
    align-self: center;
  }
  .products-thumbnails .products-thumbnails-slider {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1px;
    padding-right: 1px;
  }
  .products-thumbnails .products-thumbnails__tab.is-loading {
    opacity: 1;
  }
  .products-thumbnails__tab{
    width: 100%;
  }
  .products--content--grid  .products-card-variants__product--grid-1 {
    grid-column: span 12;
    padding: 0 20px;
  }
  .products--content--grid  .products-card-variants__product--grid-2 {
    grid-column: span 6;
  }
  .products--content--grid  .products-card-variants__product--grid-3 {
    grid-column: span 4;
    padding: 0 20px;
  }
  .products--content--grid  .products-card-variants__product--grid-4 {
    grid-column: span 3;
  }
}
@media (max-width: 768px) {
  .products--content--grid  .products-card-variants__product--grid-1,
  .products--content--grid  .products-card-variants__product--grid-2,
  .products--content--grid  .products-card-variants__product--grid-3,
  .products--content--grid  .products-card-variants__product--grid-4 {
    grid-column: span 12 !important;
  }
}


@media (min-width: 768px) {
  .products-thumbnails--variant .products-thumbanails__tab--position--banner_left__grid_right{
    flex-direction: row !important;
  }
  .products-thumbnails--variant .products-thumbanails__tab--position--banner_right__grid_left{
    flex-direction: row-reverse;
  }
}
.products-thumbanails__tab--position--regular-grid{
  flex-direction: row !important;
}
.flex-50 {
  flex-basis: 50%;
  box-sizing: border-box;
}
.flex-100{
  flex-basis: 100%;
}
.featured-products__banner--variant{
  position: relative;
  height: 100%;
  z-index: 1;
}
.featured-products__banner--variant picture img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.featured-products__banner-content--variant{
  position: relative;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 16px;
}
.featured-products__banner-heading {
  color: var(--text-color);
}
.featured-products__banner--variant .featured-products__banner-subheading {
  line-height: 1.5;
  color: var(--text-color);
}

.featured-products__banner--variant .featured-products__button {
  color: var(--button-color);
  background: var(--button-background-color);
  border-color: var(--button-border-color);
}
.featured-products__banner--variant .featured-products__button::before {
  background-color: var(--button-background-color);
}
.featured-products__banner--variant .featured-products__button::after {
  background-color: var(--button-hover-background);
}
.featured-products__banner--variant .featured-products__button:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-background);
  border-color: var(--button-hover-border);
}

.featured-products__banner--variant:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--overlay-color);
}

@keyframes product-tabs-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}